<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elbbbird.android.crop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.elbbbird.android.crop.CropImage"
            android:process=":CropImage"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.android.camera.action.CROP" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
